body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #ff0707;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
  }
  

  
  h1 {
    color: #007bff;
    margin-bottom: 20px;
    font-size: 2.5em;
  }
  
  h2 {
    color: #28a745;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.8em;
  }
  
  p {
    line-height: 1.6;
    margin-bottom: 10px;
    color: #555;
  }
  
  /* Estilos generales para el botón (puedes ajustarlos en tu componente Boton.jsx) */
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos generales para la tabla (puedes ajustarlos más en tu mitabla.jsx) */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  }
